<h1 class="text-center">Country Details</h1>
<a routerLink="/countries" routerLinkActive="active" style="text-decoration: underline;">Back to Main Menu</a>
<br />
<br />
<div class="countries" *ngIf="countrydetails" >
    <h3 class="country-name">{{ countrydetails.name }}</h3>
    <br />
    <img class="country-flag" [src]="countrydetails.flag" alt="Flag">
    <br />
    <br />
    <p><strong>Capital:</strong> {{ countrydetails.capital }}</p>
    <p><strong>Population:</strong> {{ countrydetails.population | number }}</p>
</div>
